body{
    background-color:rgb(37, 37, 37);
    color: aliceblue;
}
.profilepic{
    border-radius: 10%;
    margin-left:20px ;
    max-width: 200px;
}
.layout{
    background-color: rgb(95, 95, 95);
    height: 50px;
    width: 100%;
}
.accordion-button{
    background-color:  rgb(95, 95, 95);;
    color: rgb(255, 255, 255);
    border-radius: 10%;
}
.accordion-item{
    background-color: transparent;
    color: rgb(250, 250, 250);
  
    border-radius: 10%;
}
.accordion-header{
    background-color: transparent;
    color: rgb(255, 255, 255);
    border-radius: 10%;
}
.accordion-collapse{
    background-color: transparent;
    color: rgb(255, 255, 255);
    border-radius: 10%;
}
.devicon-github-plain{
    font-size: 200%;
    color: rgb(255, 255, 255);
}
.fa-linkedin-in{
    font-size: 200%;
    color: rgb(255, 255, 255);
}
.linkgithub{
    text-decoration: none;
}
.h3_Certificados{

}
.table{
    color: white;
    text-align: center;
}
.contem{
    height: 100%;
    position: relative;
}
.nav-menu > a{
    padding: 10px;
}
.languages{
    position: relative;
    width: 120px;
    margin-left: 40px;
}
.languages-selection{
    display: flex;
    width: 120px;
    margin-left: 40px;

}
.languages-selection:before{
    display: ' ';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-image: url(https://www.countryflags.io/br/flat/64.png);
    background-repeat: no-repeat ;
    margin-right:  10px;

}
.languages ul {
    position: absolute;
    width: 140px;
    background-color: rgb(95, 95, 95);
    border: 1px solid  rgb(37, 37, 37);    
    padding-top: 10px;
    box-shadow: 0px 1px 10px rgb(37, 37, 37);
    display:  none;
}

.languages ul li{
    list-style: none;

}
.languages ul li a{
    display: block;
    padding-top: 5px 10px;
}
.languages ul li:hover{
    background-color: rgb(76, 76, 78);
}

.languages-selection:before{
    display: ' ';
    display: inline-block;
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat ;
    margin-right:  10px;

}
a.br:before{
    background-image: url(https://www.countryflags.io/br/flat/64.png);
}
a.en:before{
    background-image: url(https://www.countryflags.io/us/flat/64.png);
}
a.es:before{
    background-image: url(https://www.countryflags.io/es/flat/64.png);
}
.languages:hover ul{
    display: block;
}
.line{
    background-color: rgb(39, 184, 39);
}
table .line:hover{
    background-color:rgb(39, 184, 39);
    color:black;
    fill: rgb(10, 12, 12);
}
.mbody{
    background-color: rgb(37, 37, 37);
    color: aliceblue;
}
.modal-header{
    background-color: rgb(37, 37, 37);
    color: aliceblue;
}
.btn{

    border: 1px;
    border-color: aliceblue;
    box-sizing: border-box;
    border-bottom-color: aliceblue;
    width: 65px;
    color: aliceblue;
    
}
.bi{
    border: 1px;
    border-color: aliceblue;
    box-sizing: border-box;
    border-bottom-color: aliceblue;
    color: aliceblue;
    fill: azure;
}
.bi:hover{
    fill: black;
}
.titleEmp{
    margin-left: 70px;
}
